.top {
  background-image: url('../img/more_anon3_1500-1.jpg') ; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:80% ;
  background-color: #ecb149
}

.full{
  min-height: 100vh;
}



.first-section{
  min-height: 100vh;
  position: relative;
}


body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color:transparent; /* Green */
  color: #ffffff;
}
.bg-2 { 
  background-color: #1abc9c; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #1abc9c; /* Black Gray */
  color: #fff;

}


.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: transparent;
  background: transparent;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

article{
  background:#ffffff;;
  margin-top: 5rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider-last {
  margin-bottom: 1rem;
  margin-top: 5rem; /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


.why{
  vertical-align: middle;
}

.title{
  margin: 50px 0;
}

.list {
  margin-top: 50px ;
  margin-bottom: 50px; 
}

.fab{
  color: black;
  margin: 10px;
  padding: 10px;
}

.fas{
  color: #6c757d;
  margin-bottom: 100px;

}

.arrow{
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 3rem;

  
}

.arrow2{
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 3rem;
}

.arrow-last{
  margin: 1rem;
  height: 3rem;
}



.relative{
  position: relative;
}

a{
  color: #6c757d;
}

.btn{
  border: none;
}

@media only screen and (max-width: 350px) {
 
  body {
    font: 12px Montserrat, sans-serif;
    line-height: 1.8;
  }

  .lead{
    font-size: 12px;
  }
  .title{
    font-size: 50px;
  }
}

@media only screen and (max-width: 500px) {
 
  body {
    font: 14px Montserrat, sans-serif;
    line-height: 1.8;
  }

  .lead{
    font-size: 14px;
  }
}

.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(50%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

